addons:
  apt:
    packages:
      - docker-ce

  sonarcloud:
    organization: "onune5mgafygrs6rbwhf5hwvm0kfx5s1"
    token:
      secure: "**************************" # encrypted value of your token

services:
  - docker

before_install:
  - curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -
  - sudo add-apt-repository "deb [arch=amd64] https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable"
  - sudo apt-get update
  #- sudo apt-get -y install docker-ce docker-ce-cli containerd.io
  - docker-compose --version
  - sudo rm /usr/local/bin/docker-compose
  - curl -L https://raw.githubusercontent.com/Lufen34/Project9/master/docker/dev/docker-compose.yml > docker-compose.yml
  - cd /docker/dev/
  - docker-compose up

language: java
jdk: openjdk11

install: true


cache:
  directories:
    - $HOME/.m2

notifications:
  email: lufen34@gmail.com


script:
  - mvn test
  # the following command line builds the project, runs the tests with coverage and then execute the SonarCloud analysis
  - mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent install sonar:sonar -Dsonar.projectKey=Lufen34_Project9

